@charset "UTF-8";
#header {
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: #F1F1F1;
	display: flex;
	justify-content: space-between;
}

#header h1 img {
	width: 200px;
	height: 40px;
}

#header h2 img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#header ul li {
	font-size: 80px;
}

:after :before {
	box-sizing: border-box;
}

#modal_menu {
	
}



.modal_menu_close {
	position: absolute;
    top: 60px;
    right: 100px;
}


.modal_menu_close a:after , .modal_menu_close a:before {
	position: absolute;
    right: 7px;
    top: 6px;
    content: '';
    height: 5px;
    width: 25px;
    background-color: #fff;
    display: block;
    transition: all .5s;
}

.modal_menu_close a.active:after {
    transform: rotate(45deg);
}
 
 .modal_menu_close a.active:before {
    transform: rotate(-45deg);
}


