<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="getMembers" resultType="com.samdasu.dto.Member">
		select id , name from member
	</select>	
	<select id="getMember" resultType="com.samdasu.dto.Member">
		select id , name from member where id=#{num}
	</select>	
	<insert id="insMember">
		insert into member values (#{num}, #{id}, #{pw} , #{name} , #{email} , #{address} ,#{resdate})
	</insert>
 	<update id="upMember">
		update member set name=#{name} where no=#{num}
	</update>
	<delete id="delMember">
		delete from member where num=#{num}
	</delete> 
</mapper> 