<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="getMembers" resultType="com.samdasu.dto.Member">
		select * from member
	</select>	
	<select id="getMember" resultType="com.samdasu.dto.Member">
		select * from member where mnum=#{mnum}
	</select>	
	<insert id="insMember" parameterType="com.samdasu.dto.Member">
		insert into member values (#{mnum}, #{id}, #{pw} , #{mname} , #{email} , #{tel} , #{addr1} , #{addr2} , #{postcode} , #{birth} ,#{resdate})
	</insert>
 	<update id="upMember" parameterType="com.samdasu.dto.Member">
		update member set mname=#{mname} , 
						  email=#{email} , 
						  tel=#{tel} ,
						  addr1=#{addr1} ,
						  addr2=#{addr2} ,
						  postcode=#{postcode} ,
						  birth=#{birth} ,
						  resdate=#{resdate}  where mnum=#{mnum}
	</update>
	<delete id="delMember" parameterType="int">
		delete from member where mnum=#{mnum}
	</delete> 
</mapper> 