<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales">

    <select id="getTotalCount" resultType="int">
        select count(*) from sales
    </select>
    

	<select id="getAllSaless" resultType="com.samdasu.dto.Sales">
		select * from sales order by resdate desc
	</select>
	<!-- 관리자 판매 진행 상태별 목록 -->
	<select id="getStSaless" resultType="com.samdasu.dto.Sales">
		select * from sales where st=#{st} order by resdate desc
	</select>
	<!-- 관리자 배송 상태별 목록 -->
	<select id="getDelSaless" resultType="com.samdasu.dto.Sales">
		select * from sales where delstatus=#{delstatus} order by resdate desc
	</select>
	
		<!-- 상품별 판매 목록 -->
	<select id="getPnumSalesList" resultType="com.samdasu.dto.Sales">
		select * from sales	where pnum=#{pnum} order by resdate desc
	</select>
	
		<!-- 고객별 구매 목록 -->
	<select id="getSalesList" resultType="com.samdasu.dto.Sales">
		select * from sales where id=#{id} 
	</select>
	
		<!-- 해당 구매 건별 구매 상세 내역 -->
	<select id="getSales" resultType="com.samdasu.dto.Sales">
		select * from sales where snum=#{snum}
	</select>
	
	<!-- 구매 처리 -->
	<insert id="insSales" parameterType="com.samdasu.dto.Sales">
	<selectKey keyProperty="sn" resultType="int" order="BEFORE">
		  select sseq.NEXTVAL from DUAL
	 </selectKey>
		insert into sales values (#{sn}, #{pnum}, #{amount}, #{tot},
		#{id}, #{paymethod}, #{paynum}, #{addr}, #{tel}, 
		#{delcom}, #{deltel}, #{delnum}, #{rname} , #{gtid} , #{delstatus}, #{st}, default)
	</insert>
	
	<!-- 배송지 변경 -->
	<update id="upSales" parameterType="com.samdasu.dto.Sales">
		update sales set rname=#{rname}, addr=#{addr}, tel=#{tel} where snum=#{snum}
	</update>
	
	<!-- 배송처리 -->
	<update id="upDelivery" parameterType="com.samdasu.dto.Sales">
		update sales set delcom=#{delcom}, deltel=#{deltel}, delstatus=#{delstatus}, st=#{st} where snum=#{snum}
	</update>
			
		<!-- 거래완료 -->
	<update id="completeDelivery" parameterType="com.samdasu.dto.Sales">
		update sales set delstatus=#{delstatus}, st=#{st} where snum=#{snum}
	</update>

	<!-- 결제 취소 -->
	<delete id="delSales">
		delete from sales where snum=#{snum}
	</delete>
</mapper> 


